/base_server_sdk/base_server_user/example/main.exe
/base-server-sdk/base-server-user/example/main.exe
/base-server-sdk/base-server-octopus/example/main.exe
/base-server-sdk/base-server-interact/example/main.exe
